/*
    CSS for the aboutme.html file.
    THESE IDS ARE ONLY USED FOR aboutme

    Created by Prezzy Ch.
*/

/*===============================================*/
/*------------------GENERAL TAGS-----------------*/
/*===============================================*/

#aboutmeimagecontainer,
#funfactheader,
*[class|= "subcontainer"],
*[class|= "subsectionarticle"],
*[id|= "subsectionheader"],
*[class|= "subsectionimage"] {
    display: flex;
}

h4 {
    margin: 0px;
    margin-bottom: 10px;
}

/*============== MODULAR VIEW - aboutme ==============*/

@media screen and (max-width: 1300px) {
    #aboutmecontentarticlecontainer > h3 {
        font-size: 40px;
    }

    #aboutmeheader {
        right: 100px !important; /*Override*/
    }

    .sectionheader > h2 {
        text-align: left !important;
    }
}

@media screen and (max-width: 900px) {
    #title > h1 { /*Override*/
        text-align: center;
        font-size: 80px !important;
    }

    *[class|= "subsectioncontent"] {
        width: 60% !important;
    }

    *[class|= "subsectionimage"] {
        width: 40% !important;
    }

    .subsectionimage-left {
        justify-content: flex-end !important;
    }

    .subsectionimage-right {
        justify-content: flex-start !important;
    }

    *[class|= "subsectionimage"] > img {
        width: 120% !important;
    }
}

@media screen and (max-width: 820px) {
    
    .title-container {
        justify-content: center !important;
    }
    #title {
        align-items: center !important;
        margin-right: 40px !important; 
    }

    #aboutme-container {
        flex-direction: column-reverse !important;
    }

    #aboutmedivider {
        width: 100% !important;
    }

    #aboutmeheader > h2 {
        text-align: center;
    }

    #aboutmeimagecontainer {
        margin-right: 0px !important;
        margin-top: 20px;
        width: 90% !important;
    }
    #aboutmeimage {
        object-position: top;
        max-width: none !important;
        height: 400px !important;
    }

    #aboutmecontentarticlecontainer {
        align-items: center !important;
    }

    *[class|= "subsectionh3"] {
        text-wrap: wrap !important;
    }

    *[class|= "subsectionarticle"] > p {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    *[class|= "subsectioncontent"] {
        width: 50% !important;
    }

    *[class|= "subsectionimage"] {
        width: 50% !important;
    }

    *[class|= "subsectionimage"] > img {
        width: 150% !important;
    }
}

@media screen and (max-width: 420px) {
    #title > h1 {
        text-align: center;
        font-size: 70px !important; 
    }
}

/*============== aboutme specific animations ==============*/


/*===============================================*/
/*--------------------CLASSES--------------------*/
/*===============================================*/

*[class|= "subcontainer"] {
    height: fit-content;
    width: min(700px, 100%);
    background-color: #395D77;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 200px;
    height: fit-content;
}

.subcontainer-left {
    background-size: cover;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.subcontainer-right {
    justify-content: end;
    align-self: end;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    flex-direction: row-reverse;
    background-size: cover;
}

*[class|= "subsectioncontent"] {
    width: 80%;
    z-index: 1;
}

.subsectioncontent-left {
    margin-left: 10px;
}

.subsectioncontent-right {
    margin-right: 10px;
}

*[class|= "subsectionheader"] {
    align-items: center;
    bottom: 20px;
    position: relative;
}

.subsectionheader-right {
    flex-direction: row-reverse;
    justify-content: end;
}

*[class|= "subsectionarticle"] {
    flex-direction: column;
}

.subsectionarticle-left {
    margin-left: 30px;
}

.subsectionarticle-right {
    text-align: end;
    align-items: end;
    margin-right: 30px;
}

*[class|= "subsectionh3"]{
    margin: 0;
    text-wrap: nowrap;
}

.subsectionh3-left {
    text-shadow: 5px 5px #31465b;
}

.subsectionh3-right {
    text-align: end;
    text-shadow: -5px 5px #31465b;
}

.linedivider[id|= "subdivider"] {
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
}

.linedivider[id|= "contentdivider"] {
    width: 50px;
}

*[class|= "subsectionimage"]{
    width: 20%;
    align-items: center;
}

*[class|= "subsectionimage"] > img {
    width: 175%;
}

.subsectionimage-right {
    justify-content: end;
}

/*===============================================*/
/*----------------------IDs----------------------*/
/*===============================================*/

/*============== title ==============*/

#title {
    align-items: flex-end;
    margin-right: 5%;
}

#titleimage{
    background-image: url("img/websiteimages/images/World\ Between\ Worlds.webp");
    background-position-y: 150px;
    animation-name: titleimage-in;
}

#dividertitle {
    margin-top: 10px;
    width: 100px;
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(67, 86, 135));
}

/*============== about me section ==============*/
#aboutme-container {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #31465B;
    justify-content: space-around;
    align-items: center;
    background-image: url("img/websiteimages/decorations/decor1.webp");
} 

#aboutmeheader {
    position: relative;
    right: 100px;
}

#aboutmeh2{
    text-shadow: 5px 5px #395d77;
}


#headerdivideraboutme {
    box-shadow: 5px 5px #395d77;
}


#aboutmedivider {
    width: 50%;
}

#aboutmecontentarticlecontainer {
    align-items: start;
    max-width: 100%;
}

#aboutmeh3 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#aboutmepronouns{
    margin-top: 0;
}

#divideraboutme, 
#divideraboutme2 {
    width: 200px;
}


#aboutmeimagecontainer {
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

#aboutmeimage {
    height: 600px;
    max-width: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/*============== funfacts section ==============*/
#funfacts-container {
    background-image: linear-gradient(180deg, #31465B 20%, #00000021);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    flex-direction: column;
    height: fit-content;
} 

#funfactdivider {
    margin-bottom: 40px;
}

#funfacth2 {
    text-shadow: 0px 5px #395d77;
    text-align: center;
}
#headerdividerfunfact {
    box-shadow: 0px 5px #395d77;
}

#subcontainerfunfact-1 {
    background-image: url("img/websiteimages/decorations/decor3.webp");
}
#subcontainerfunfact-2 {
    background-image: url("img/websiteimages/decorations/decor4.webp");
}
#subcontainerfunfact-3 {
    background-image: url("img/websiteimages/decorations/decor5.webp");
}
#subcontainerfunfact-4 {
    background-image: url("img/websiteimages/decorations/decor6.webp");
}
#subcontainerfunfact-5 {
    background-image: url("img/websiteimages/decorations/decor7.webp");
}
#subcontainerfunfact-6 {
    background-image: url("img/websiteimages/decorations/decor8.webp");
}


/*============== subsections ==============*/


#subdivider-1,
#subdivider-3,
#subdivider-5 {
    box-shadow: 5px 5px #31465b;
}

#subdivider-2,
#subdivider-4,
#subdivider-6 {
    box-shadow: -5px 5px #31465b;
}