/* Behavior:
    This is the CSS for the aboutme.html file.
    THESE IDS ARE ONLY USED FOR aboutme
*/

/* - title -*/

#titleimage-aboutme {
    background-image: url("img/Koi Fox.png");
}

/*- about me section -*/
#aboutme-container {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    /* background-image: ; */
    background-color: #31465B;
    justify-content: space-around;
    align-items: center;

} 

#aboutmeheader {
    position: relative;
    right: 100px;
}

#aboutmeh2, #aboutmeh2-animated {
    text-shadow: 5px 5px #395d77;
}
#aboutmeh2-animated {
    animation: animation-fadeinLTR;
    animation-duration: 1s;
}

#headerdivideraboutme, #headerdivideraboutme-animated {
    box-shadow: 5px 5px #395d77;
}
#headerdivideraboutme-animated {
    animation: animation-fadeinLTR;
    animation-duration: 1.2s;
}

#aboutmedivider {
    width: 50%;
}

#aboutmecontentarticlecontainer {
    align-items: start;
    max-width: 100%;
}

#aboutmeh3, #aboutmeh3-animated {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#aboutmeh3-animated {
    animation: animation-fadeinLTR;
    animation-duration: 1.1s;
}

#aboutmepronouns, #aboutmepronouns-animated{
    margin-top: 0;
}
#aboutmepronouns-animated {
    animation: animation-fadeinLTR;
    animation-duration: 1.4s;
}

#divideraboutme, #divideraboutme2 , #divideraboutme-animated {
    width: 200px;
}
#divideraboutme-animated {
    animation: animation-fadeinLTR;
    animation-duration: 1.3s;
}

#aboutmeparagraph-animated {
    animation: animation-fadeinLTR;
    animation-duration: 1.5s;
}

#aboutmeimagecontainer {
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

#aboutmeimageclipping {
    clip-path: fill-box;
    width: 400px;
    height: 600px;
    margin: 10px;
    border-radius: 10px;
}

#aboutmeimage {
    height: 100%;
    object-fit: contain;
}