/* Behavior:
    This is the CSS for the gallery.html file.
    THESE IDS ARE ONLY USED FOR gallery
*/

/* gallery specific animations */

@keyframes animation-fadein {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

@keyframes animation-fadeout {
    from {
        opacity: 100%;
    } to {
        opacity: 0%;
    }
}

@keyframes modal-animation-fadein {
    from {
        opacity: 0%;
        display: none;
    } to {
        opacity: 100%;
        display: block;
    }
}

@keyframes modal-animation-fadeout {
    from {
        opacity: 100%;
        display: block;
    } to {
        opacity: 0%;
        display: none;
    }
}

/*===============================================*/
/*--------------------CLASSES--------------------*/
/*===============================================*/

.gallerylistelement {
    height: 300px;
    border-radius: 20px;
    clip-path: fill-box;
    flex-direction: column;
    flex-grow: 1; 
}

.gallerylist {
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.inactive, .inactive:hover, .inactive:active {
    background-color: rgba(240, 248, 255, 0.103);
    text-decoration: none;
    color: #3c4955;
    transition: none;
}

/* utility classes */
.unhidden {
    animation: animation-fadein;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.hidden {
    animation: animation-fadeout;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.inactivemodal {
    display: none;
    animation: modal-animation-fadeout;
    animation-duration: 0.5s;
}
.activemodal {
    display: block;
    animation: modal-animation-fadein;
    animation-duration: 0.5s;
}



/* Title */
#title {
    align-items: center;
}

#titleimage-aboutme {
    background-image: url("img/websiteimages/TwilightMountains.webp");
}

#dividertitle, #dividertitle-animated {
    margin-top: 10px;
    width: 100px;
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(67, 86, 135));
}
#dividertitle-animated {
    animation: animation-fadeinTTB;
    animation-duration: 1.2s;
}

/* modal */

#modalimage {
    height: 100%;
    border-radius: 30px;
}

#modalimagecontainer {
    height: 90%;
    width: fit-content;
}

#gallerymodal, #gallerymodal-animated {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(1px);
    justify-items: center;
    align-content: center;
}

#modalclosebutton {
    position: absolute;
    font-size: xx-large;
    top: 15px;
    right: 35px;
    transition: color 0.5s, opacity 0.5s;
    opacity: 80%;
    color: rgb(175, 180, 185);
}

#modalclosebutton:active, #modalclosebutton:hover {
    background-color: rgba(240, 248, 255, 0); /*overrides*/
    text-decoration: none; /*overrides*/

    transition: color 0.2s, opacity 0.2s;
    opacity: 100%;
    color: aliceblue;
}


/* Exibit */

#exibitcontainer {
    background-color: #31465b21;
    backdrop-filter: blur(5px);
}

#exibitcontainerinner {
    margin: 30px;
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: column;
    width: 100%;
}

#exibith2, #exibith2-animated {
    text-shadow: 5px 5px #395d77;
}
#exibith2-animated {
    animation: animation-fadeinLTR;
    animation-duration: 1s;
}

#headerdividerexibit, #headerdividerexibit-animated {
    box-shadow: 5px 5px #395d77;
    width: 200px;
}

#headerdividerexibit-animated {
    animation: animation-fadeinLTR;
    animation-duration: 1.3s;
}

#exibitgallery {
    margin-top: 30px;
    width: 100%;
}

.gallerylistelement > img {
    object-fit: cover;
    height: 100%;
    transition: transform 0.5s, filter 0.5s;
}

.gallerylistelement > img:hover, 
.gallerylistelement > img:active {
    transform: scale(1.1, 1.1);
    filter: brightness(80%);
    transition: transform 0.5s, filter 0.5s;
}

#exibitgallerybuttons {
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
}

#gallerybuttonslist {
    list-style: none;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    gap: 5px;
}
#gallerybuttonslist > a {
    margin-left: 10px;
    margin-right: 10px;
}

#list2024 {
    display: none;
}

#list2025 {
    display: none;
}
