/* Behavior: 
    This CSS is the primary CSS for all shared components of the site. 
*/

/*===============================================*/
/*------------------GENERAL TAGS-----------------*/
/*===============================================*/
#loadingcontainer,
.title-container, 
#title, 
#titlesubheadings-container, 
#titlesubheadings-container-animated,
#socials,
#header-container,
.maindecor-container,
#mainsection, 
.contentcontainer, 
.contentarticlecontainer,
.transitionlock,
nav,
ul,
li,
/* Index */
#galleryheader,
#gallerywindow,
#commissionheader,
footer, 
.footer-container,
.footerlinks-container, 
#commissionbutton, 
#commissionbutton-animated, 
/* aboutme */
#aboutmeimagecontainer,
#funfactdivider,
#funfactheader,
.subcontainer-aboutme,
.subsectionheader,
.subsectionimage,
/* gallery */
#exibitcontainerinner,
#exibitgallerybuttons,
#modalcontainer,
#modalparagraphcontainer,
#modalimagecontainer,
#socialsbuttoncontainer {
    display: flex;
}

h1, h2, h3, h4, p, a, button {
    color: aliceblue;
}

h1, h2, h3, h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 25px
}

p {
    font-family: "REM", sans-serif;
    color: aliceblue;
    font-size: 20px;
}

a, button {
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: "REM", sans-serif;
    border-radius: 10px;
    transition: color 0.5s, background-color 0.5s, font-size 0.5s;
}

a:active, a:hover, button:active, button:hover {
    background-color: aliceblue;
    transition: color 0.5s, background-color 0.5s, font-size 0.5s;
    transition-timing-function: ease-out;
    color: #3c4955;
}

button {
    background-color: #03080c00;
    border-width: 0px;
}

ul {
    padding: 0;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #071330;
}

header {
    width: 100%;
    height: 100px;
}

main {
    width: 100%;
    height: fit-content;
    background-color: #071330;
    position: absolute; /*dear lord hope this works */
    z-index: 1;
    overflow-x: hidden;
}

footer {
    width: 100%;
    padding-bottom: 20px;
    height: fit-content;
    background-image: linear-gradient(270deg, #0C4160, #03080C);
    justify-content: space-between;
}

/* MODULAR VIEW - Global*/

@media screen and (max-width: 1300px){
    /* Header corrector for screens under 1300px */
    #commissionsheader,
    #introductionheader,
    #aboutmeheader {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
        left: 0px !important;
        right: 0px !important;
    }
    .sectionheader {
        font-size: 50px !important;
    }
}

@media screen and (max-width: 820px) {
    .linedivider {
        justify-self: center;
    }
    .contentarticlecontainer {
        max-width: 100% !important;
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .contentarticlecontainer > p {
        font-size: 18px;
    }
    .sectionparagraph {
        text-align: center !important;
    }
    .navbarlinks {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    #loadingtext {
        font-size: 60px !important;
    }
    #header-container {
        justify-content: center !important;
    }
    #navbar {
        margin-right: 0px !important;
    }
    #title > h1 {
        text-align: center;
        font-size: 120px !important; 
    }
    .footerinfo-container > p {
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    footer {
        flex-direction: column;
    }
    .footer-container {
        flex-direction: column;
        width: 100% !important;
        margin: 0px !important;
    }
    #title > h1 {
        text-align: center;
        font-size: 85px !important; 
    }
}

/*------------- ANIMATIONS ---------------*/
#loadingscreen-animated,
#loadingscreen-animated-reverse,
#titleh1-animated, 
#titlesubheadings-container-animated, 
#socials-animated, 
/* Index */
#introductionh2-animated, 
#headerdividerintroduction-animated,
#introductionparagraph-animated,
#introductionparagraph2-animated, 
#dividerintroduction-animated,
#introductionbutton-animated, 
#galleryh2-animated,
#headerdividergallery-animated,
#galleryparagraph-animated,
#gallerybutton-animated,
#commissionsh2-animated,
#headerdividercommissions-animated,
#commissionsparagraph-animated, 
#dividercommissions-animated, 
#commissionbutton-animated,
/* about me */
#dividertitle-animated,
#aboutmeh2-animated,
#headerdivideraboutme-animated,
#aboutmeh3-animated,
#aboutmepronouns-animated,
#divideraboutme2,
#divideraboutme-animated,
#divideraboutme2-animated,
#aboutmeparagraph-animated,
#aboutmeparagraph2-animated,
#funfacth2-animated,
#headerdividerfunfact-animated,
#subsectionheader-1-animated,
#subsectionheader-3-animated,
#subsectionheader-5-animated,
#subsectionheader-2-animated,
#subsectionheader-4-animated,
#subsectionheader-6-animated,
#subsectionarticle-1-animated,
#subsectionarticle-3-animated,
#subsectionarticle-5-animated,
#subsectionarticle-2-animated,
#subsectionarticle-4-animated,
#subsectionarticle-6-animated,
/* Gallery */
#exibith2-animated,
#headerdividerexibit-animated,
.activemodal {
    opacity: 0%;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    /* animation-delay: 0.1s; */
    animation-fill-mode: forwards !important; 
}

#titleh1-index,
#titleh1,
#titlesubheadings-container,
#socials,
/* Index */
#introductionh2,
#headerdividerintroduction,
#introductionparagraph,
#introductionparagraph2,
#dividerintroduction,
#introductionbutton,
#galleryh2,
#headerdividergallery,
#galleryparagraph,
#gallerybutton,
#commissionsh2,
#headerdividercommissions,
#commissionsparagraph,
#dividercommissions,  
#commissionbutton,
/* about me */
#dividertitle,
#aboutmeh2, 
#aboutmeh3, 
#aboutmepronouns,
#headerdivideraboutme,
#divideraboutme,
#divideraboutme2,
#aboutmeparagraph,
#aboutmeparagraph2, 
#funfacth2, 
#headerdividerfunfact,
#subsectionheader-1,
#subsectionheader-3,
#subsectionheader-5,
#subsectionheader-2,
#subsectionheader-4,
#subsectionheader-6,
#subsectionarticle-1,
#subsectionarticle-3,
#subsectionarticle-5,
#subsectionarticle-2,
#subsectionarticle-4,
#subsectionarticle-6,
/* Gallery */
#exibith2,
#headerdividerexibit,
.inactivemodal {
    opacity: 0%;
}

@keyframes loadingscreen-out {
    from {
        opacity: 100%;
        visibility: visible;
    } to {
        opacity: 0%;
        visibility: hidden;
    }
}

@keyframes loadingscreen-in {
    from {
        opacity: 0%;
        visibility: hidden;
    } to {
        opacity: 100%;
        visibility: visible;
    }
}

@keyframes animation-fadeinTTB {
    from {
        opacity: 0%;
        transform: translateY(-200px);
    } to {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes animation-fadeinLTR {
    from {
        opacity: 0%;
        transform: translateX(-200px);
    }
    to {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes animation-fadeinRTL {
    from {
        opacity: 0%;
        transform: translateX(200px);
    }
    to {
        opacity: 100%;
        transform: translateX(0);
    }
}

/*===============================================*/
/*--------------------CLASSES--------------------*/
/*===============================================*/

.loadingscreen {
    position: fixed;
    z-index: 2;
    opacity: 100%;
    background-color: #071330;
    height: 100%;
    width: 100%;

}

.dividerdot {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: aliceblue;
    width: 10px;
    min-width: 10px;
    height: 10px;
}

.decorlines {
    background-color: #FFFFFF;
    border-radius: 10%;
    width: 100%;
    height: 5px;
}

.title-container {
    width: 100%;
    height: fit-content;
    align-items: center;
    overflow: hidden;
}

.titleimage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: fixed;
    z-index: -1;
}

.navbarlinks:hover,
.navbarlinks:active {
    font-size: 21px;
}

.navbarlinks {
    margin-left: 10px;
    margin-right: 10px;
}

.mainbuttons:hover,
.mainbuttons:active {
    font-size: 32px;
}

.mainbuttons {
    height: fit-content;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 30px;
    font-weight: 600;
    background-color: #28394b;
    box-shadow: 5px 5px #395d77;
}

.maindecor-container{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
}

.decorsignature {
    text-wrap: nowrap;
}

.linedivider {
    width: 50%;
    height: 5px;
    background-color: #FFFFFF;
}

.contentcontainer {
    width: min(90%, 1000px);
    height: fit-content;
    border-radius: 30px;
    box-shadow: 10px 15px 20px #03080C;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contentarticlecontainer {
    margin-top: 15px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 50px;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
}

.sectionheader {
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sectionparagraph {
    line-height: 2;
}

.footer-container {
    margin: 20px;
    width: 50%;
    justify-content: space-evenly;
}

.footerlinks-container {
    align-items: center;
    flex-direction: column;
}

.footerheaders {
    font-size: 20px;
}

.footer-a {
    color: #596369;
    margin-top: 2px;
    margin-bottom: 2px;
}

.footer-a:active,
.footer-a:hover {
    color: rgb(60, 73, 85);
}

.footerinfo-container {
    width: fit-content;
    height: 50%;
    align-content: center;
}
/*===============================================*/
/*----------------------IDs----------------------*/
/*===============================================*/

/*- loading screen -*/
#loadingscreen-animated {
    animation-delay: 0.5s;
    animation: loadingscreen-out;
    animation-duration: 1s;
    animation-timing-function: linear;
}
#loadingscreen-animated-reverse {
    animation: loadingscreen-in;
    animation-duration: 1s;
}
#loadingcontainer {
    padding: 50px;
    height: 90%;
    justify-content: flex-end;
    align-items: flex-end;
}

#loadingtext {
    font-size: 100px;
    margin: 0px;
}

/*- header -*/
#header-container {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(90deg, #0C4160, #03080C);
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

#navbar {
    align-items: center;
    margin-right: 50px;
}

#navbar > h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}


/*-Title-*/

#titlecontainer-index {
    justify-content: flex-start;
    min-height: 700px;
}

#titlecontainer-end { /*Made for all other sections ! index*/
    justify-content: flex-end;
    min-height: 500px;
}

#title {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
}

#titleh1-index, #titleh1-index-animated, #titleh1, #titleh1-animated {
    margin-bottom: 0;
    margin-top: 0;
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(67, 86, 135));
    color: transparent;
    background-clip: text;
} 

#titleh1, #titleh1-animated { /*for all other h1's ! index*/
    font-size: 100px;
}
#titleh1-animated {
    animation-name: animation-fadeinTTB;
    animation-duration: 1s;
}

#main-title-gradient {
    background-image: linear-gradient(#07133000, #071330);
    width: 100%;
    height: 150px;
    align-self: flex-end;
    z-index: 1;
}
/*- Main -*/

#mainsection {
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

/*- Footer -*/

#footerinfos {
    flex-direction: column;
    align-items: center;
}

#footerinfos > .linedivider {
    width: 20%;
}

#footercommissions {
    transition: none;
    color: #2e3235;
}

#footercommissions:hover,
#footercommissions:active {
    background-color: rgba(240, 248, 255, 0);
}
