/*
    This CSS is the primary CSS for all shared components of the site. 
*/

/*===============================================*/
/*------------------GENERAL TAGS-----------------*/
/*===============================================*/

.sectionheader,
#loadingcontainer,
#modalimagecontainer,
#modalcontainer,
#sidebarcontainer,
#sidebarbuttoncontainer,
.title-container, 
#title, 
#titlesubheadings-container, 
#titlesubheadings-container-animated,
#socials,
#header-container,
.maindecor-container,
#mainsection, 
.centerheader,
.contentcontainer, 
.contentarticlecontainer,
.transitionlock,
nav,
ul,
li,
footer, 
.footer-container,
.footerlinks-container {
    display: flex;
}

h1, h2, h3, h4, p, a, button {
    color: aliceblue;
}

h1, h2, h3, h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 25px
}

p {
    font-family: "REM", sans-serif;
    color: aliceblue;
    font-size: 20px;
}

a, button, #sidepanelbutton{
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: "REM", sans-serif;
    border-radius: 10px;
    transition: color 0.5s, background-color 0.5s, font-size 0.5s;
}

a:active, a:hover, button:active, button:hover {
    background-color: aliceblue;
    transition: color 0.5s, background-color 0.5s, font-size 0.5s;
    transition-timing-function: ease-out;
    color: #3c4955;
}

button {
    background-color: #03080c00;
    border-width: 0px;
}

ul {
    padding: 0;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #071330;
}

header {
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    height: fit-content;
    background-image: url("img/websiteimages/images/NebulaBg.webp");
    background-size: cover;
    background-color: #071330;
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
}

footer {
    width: 100%;
    padding-bottom: 20px;
    height: fit-content;
    background-image: linear-gradient(270deg, #0C4160, #03080C);
    justify-content: space-between;
}

/*============== MODULAR VIEW - Global ==============*/

@media screen and (max-width: 1300px){
    /* Header corrector for screens under 1300px */
    .sectionheader {
        left: 0px !important;
        right: 0px !important;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
    }

    .sectionheader > h2 {
        text-align: center;
    }

    .sectionh2 {
        font-size: 50px !important;
    }
}

@media screen and (max-width: 820px) {
    #titleframe, 
    #titleframe-animated,
    #titleframegradient {
        display: none;
    }

    .contentarticlecontainer {
        max-width: 100% !important;
        margin-left: 15px !important;
        margin-right: 15px !important;
    }

    .contentarticlecontainer > p {
        font-size: 18px;
    }

    .sectionheader {
        align-items: center !important;
    }

    .sectionparagraph {
        text-align: center !important;
    }

    #prezzychlogo {
        margin: 0px !important;
    }

    .navbarlinks {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    #header-container {
        justify-content: center !important;
        flex-direction: column;
    }

    #navbar {
        height: 50px;
        margin-right: 0px !important;
    }

    #title > h1 {
        text-align: center;
        font-size: 120px !important; 
    }
    
    .footerinfo-container > p {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    footer {
        flex-direction: column;
    }
    .footer-container {
        flex-direction: column;
        width: 100% !important;
        margin: 0px !important;
    }
    #header-container {
        justify-content: start !important;
        flex-direction: row-reverse;
    }

    #header-container > * {
        margin-left: 20px !important;
    }

    #sidepanelbutton {
        display: flex !important;
        justify-self: start;
    }
    #navbar {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    #title > h1 {
        font-size: 85px !important;
    }
}

/*============== ANIMATIONS ==============*/
*[id$="animated"],
#loadingscreen-animated-reverse,
.activemodal,
.inactivesidebar,
.activesidebar,
.inactivebar,
.activebar {
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards !important; 
}

#titleh1-index,
#titleh1,
#titlesubheadings-container,
#socials,
.inactivemodal,
.inactivesidebar,
#sidepanelbutton-inactive,
*[id$="animated"],
#loadingscreen-animated-reverse {
    opacity: 0%;
}

@keyframes loadingscreen-out {
    from {
        opacity: 100%;
        visibility: visible;
    } to {
        opacity: 0%;
        visibility: hidden;
    }
}

@keyframes loadingscreen-in {
    from {
        opacity: 0%;
        visibility: hidden;
    } to {
        opacity: 100%;
        visibility: visible;
    }
}

@keyframes fadein {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

@keyframes fadeout {
    from {
        opacity: 100%;
    } to {
        opacity: 0%;
    }
}

@keyframes sidebar-slideout {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-100%);
    }
}

@keyframes sidebar-slidein {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0);
    }
}

@keyframes modal-animation-fadein {
    from {
        opacity: 0%;
        display: none;
    } to {
        opacity: 100%;
        display: block;
    }
}

@keyframes modal-animation-fadeout {
    from {
        opacity: 100%;
        display: block;
    } to {
        opacity: 0%;
        display: none;
    }
}

@keyframes titleimage-in {
    from {
        opacity: 100%;
        transform: scale(1.5);
        filter: blur(5px);
    }
    to {
        opacity: 100%;
        transform: scale(1);
        filter: blur(0px);
    }
}

@keyframes animation-fadeinTTB {
    from {
        opacity: 0%;
        filter: blur(5px);
        transform: translateY(-200px);
    } to {
        opacity: 100%;
        filter: blur(0);
        transform: translateY(0px);
    }
}

@keyframes animation-fadeinBTT {
    from {
        opacity: 0%;
        filter: blur(5px);
        transform: translateY(200px);
    } to {
        opacity: 100%;
        filter: blur(0);
        transform: translateY(0px);
    }
}

@keyframes animation-fadeinLTR {
    from {
        opacity: 0%;
        filter: blur(5px);
        transform: translateX(-200px);
    }
    to {
        opacity: 100%;
        filter: blur(0);
        transform: translateX(0);
    }
}

@keyframes animation-fadeinRTL {
    from {
        opacity: 0%;
        filter: blur(5px);
        transform: translateX(200px);
    }
    to {
        opacity: 100%;
        filter: blur(0);
        transform: translateX(0);
    }
}

/*===============================================*/
/*--------------------CLASSES--------------------*/
/*===============================================*/

.loadingscreen {
    position: fixed;
    z-index: 5;
    opacity: 100%;
    background-color: #071330;
    height: 100%;
    width: 100%;
}

.dividerdot {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: aliceblue;
    width: 10px;
    min-width: 10px;
    height: 10px;
}

.decorlines {
    background-color: #FFFFFF;
    border-radius: 10%;
    width: 100%;
    height: 5px;
}

.title-container {
    width: 100%;
    height: fit-content;
    align-items: center;
    overflow: hidden;
}

.titleimage {
    transform: scale(1.5);
    filter: blur(5px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: fixed;
    z-index: -1;
}

.navbarlinks:hover,
.navbarlinks:active {
    font-size: 21px;
}

.navbarlinks {
    margin-left: 10px;
    margin-right: 10px;
}

.main-static {
    position: unset;
}

.mainbuttons:hover,
.mainbuttons:active {
    font-size: 32px;
}

.mainbuttons {
    text-align: center;
    height: fit-content;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 30px;
    font-weight: 600;
    background-color: #28394b;
    box-shadow: 5px 5px #395d77;
}

.maindecor-container{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
}

.decorsignature {
    text-wrap: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}

.linedivider {
    width: 50%;
    height: 5px;
    background-color: #FFFFFF;
}

.contentcontainer {
    width: min(90%, 1000px);
    height: fit-content;
    border-radius: 30px;
    box-shadow: 10px 15px 20px #03080C;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contentarticlecontainer {
    margin-top: 15px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 50px;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
}

.centerheader {
    background-image: linear-gradient(90deg, #0C4160, #03080C);
    height: fit-content;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.sectionheader {
    flex-direction: column;
}

.sectionh2 {
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sectionparagraph {
    line-height: 2;
}

.footer-container {
    margin: 20px;
    width: 60%;
    justify-content: space-evenly;
}

.footerlinks-container {
    align-items: center;
    flex-direction: column;
}

.footerlinks-container > a {
    text-align: center;
}

.footerheaders {
    font-size: 20px;
}

.footer-a {
    color: #596369;
    margin-top: 6px;
}

.footer-a:active,
.footer-a:hover {
    color: rgb(60, 73, 85);
}

.footerinfo-container {
    width: fit-content;
    height: 50%;
    align-content: center;
}

.gallerylist {
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.gallerylistelement,
.gallerylistelement-animated {
    height: 200px;
    width: fit-content;
    max-width: 200px;
    border-radius: 20px;
    clip-path: fill-box;
    -webkit-box-orient: horizontal;
    flex-direction: column;
    flex-grow: 1; 
    flex-shrink: 1;
}

.gallerylistelement > img,
.gallerylistelement-animated > img  {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    transition: transform 0.5s, filter 0.5s;
}

.gallerylistelement > img:hover, 
.gallerylistelement > img:active, 
.gallerylistelement-animated > img:hover, 
.gallerylistelement-animated > img:active {
    transform: scale(1.1, 1.1);
    filter: brightness(80%);
    transition: transform 0.5s, filter 0.5s;
}

.inactivemodal {
    display: none;
    animation: modal-animation-fadeout;
    animation-duration: 0.5s;
}
.activemodal {
    display: block;
    opacity: 100%;
    animation: modal-animation-fadein;
    animation-duration: 0.5s;
}

.inactivesidebar {
    display: none;
    animation: fadeout;
    animation-duration: 0.5s;
}

.activesidebar {
    animation: fadein;
    animation-duration: 0.5s;
    display: flex;
}

.inactivebar {
    animation: sidebar-slideout;
    animation-duration: 0.5s;
}

.activebar {
    animation: sidebar-slidein;
    animation-duration: 0.5s;
}

.textlist {
    flex-direction: column;
}

/*===============================================*/
/*----------------------IDs----------------------*/
/*===============================================*/

/*============== loading screen ==============*/
#loadingscreen-animated {
    animation-delay: 0.5s;
    animation: loadingscreen-out;
    animation-duration: 1s;
    animation-timing-function: linear;
}
#loadingscreen-animated-reverse {
    animation: loadingscreen-in;
    animation-duration: 1s;
}

/*============== Header ==============*/
#header-container {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(90deg, #0C4160, #03080C);
    justify-content: space-between;
    align-items: center;
    position: fixed;
}


/*============== Nav ==============*/

#prezzychlogo, #prezzychlogosidebar {
    height: 80%;
    max-height: 70px;
    margin-left: 20px;
}

#navbar {
    align-items: center;
    margin-right: 50px;
}

#navbar > h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#sidepanelbutton {
    display: none;
    background-image: url(img/websiteimages/symbols/Hamburger.webp);
    background-position: center;
    background-size: 70%, 70%;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

#sidebar {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(1px);
    position: fixed;
}

#sidebarcontainer {
    width: max(200px, 40%);
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    flex-direction: column;
    align-items: center;
    background-image: url(img/websiteimages/decorations/decor1.webp);
    background-size: cover;
    background-color: #31465b;
}

#sidepanelclosebutton {
    height: 100%;
    width: min(calc(100% - 200px), 60%);
}

#prezzychlogosidebar {
    margin-left: 0px;
    margin-top: 20px;
    max-height: 100px;
}

#sidebarbuttoncontainer {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

#sidebarbuttoncontainer > .linedivider {
    width: 100%;
    height: 2px;
}

#sidebarbuttoncontainer > * {
    margin-top: 15px;
}

#sidebartextcontainer {
    margin-top : auto;
    margin-left: 20px;
    margin-right: 20px;
}

#sidebartextcontainer > p {
    font-size: 15px;
}

/*==============Title==============*/

#titlecontainer-index {
    justify-content: flex-start;
    min-height: 700px;
}

#titlecontainer { /*Made for all other sections ! index*/
    justify-content: flex-end;
    min-height: 500px;
}

#titleframegradient {
    height: 100%;
	width: min(450px, 40%);
    background-image: linear-gradient(-90deg, #0C4160 50%, #03080c00);
    position: fixed;
    z-index: -1;
}

#title {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
}

#titleh1-index, #titleh1-index-animated, #titleh1, #titleh1-animated {
    margin-bottom: 0;
    margin-top: 0;
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(67, 86, 135));
    color: transparent;
    background-clip: text;
} 

#titleh1, #titleh1-animated { /*for all other h1's ! index*/
    font-size: 100px;
}
#titleh1-animated {
    animation-name: animation-fadeinRTL;
    animation-duration: 1s;
}

#main-title-gradient {
    background-image: linear-gradient(#07133000, #071330);
    width: 100%;
    height: 150px;
    align-self: flex-end;
    z-index: 1;
}

/*==============Modal===============*/
#gallerymodal {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

#modalcontainer {
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#modalimagecontainer {
    height: min(90%, 800px);
    width: 100%;
    max-width: fit-content;

    animation: animation-fadeinLTR;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

    justify-content: center;
    align-items: center;
    margin: 30px;
}

#modalimage {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
    border-radius: 30px;
    object-fit: contain;
    box-shadow: 10px 15px 20px #31465B;
}

#modalclosebutton {
    position: absolute;
    font-size: xx-large;
    top: 15px;
    right: 35px;
    transition: color 0.5s, opacity 0.5s;
    opacity: 80%;
    color: rgb(175, 180, 185);
}

#modalclosebutton:active, #modalclosebutton:hover {
    background-color: rgba(240, 248, 255, 0); /*overrides*/
    text-decoration: none; /*overrides*/

    transition: color 0.2s, opacity 0.2s;
    opacity: 100%;
    color: aliceblue;
}

#sidepanelbutton:active, #sidepanelbutton:hover {
    background-image: url(img/websiteimages/symbols/Hamburger2.webp);
}

/*============== Main ==============*/

#mainsection {
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

/*============== Footer ==============*/

#footerinfos {
    flex-direction: column;
    align-items: center;
    width: 40%;
}

#footerinfos > .linedivider {
    width: 20%;
}

